$main-color: #000;
$backgound-main-color: #35b631;
$link-color: #35b631;
$backgound-white-color: #fff;

$hover-color: #62b55f;
$border-radius: 5px;
$border-circle-radius: 50%;
$box-shadow: 0 0 10px 0 #4a4747c2;

$dangerous-color: rgb(253, 0, 0);

$height-header: 120px;
$height-header-tablet: 80px;
$height-header-shrink: 120px;
$height-header-mobile: 60px;

$mobile-screen: 600px;
$tablet-screen: 1024px;
$small-laptop-screen: 1200px;

$max-width: 1320px;